@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-basic: Poppins,Verdana,Helvetica,sans-serif;
    --font-headers: Arvo, serif;
    --color-primary: rgb(248,179,25);
    --color-secondary: rgb(237, 241, 245);
    --color-background: white;
    --color-darker: rgb(207, 150, 27);
    --color-text: black;
}

/* 
    --color-secondary: rgb(247, 234, 205);

    */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    background-color: var(--color-background);
    font-family: var(--font-basic);  
    color: var(--color-text);
}

body{
    
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

h1,h2,h3{
    font-family: var(--font-headers);
}


header{
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-primary);
    box-shadow: 0px 0px 4px  rgba(0, 0, 0, 0.4);
    width: 100%;
}

header .headerContainer{
    margin-bottom: 2px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4px;

}

header #headerWrapper{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header #header-logo{
    max-width: 120px;
}

header #burger{
    font-size: 2rem;
    color: var(--color-primary);
    margin-right: 10px;
    cursor: pointer;
}

header nav{
    display: none;
}

header ul{  
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    
}
header li{
    margin: 10px 15px;
}

header a{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-primary);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.211);
}

main{
    display: flex;
    flex-flow: column nowrap;
    min-width: 320px;
    background-color: var(--color-background);
    margin: 0px auto;
}

main section{
    background-color: var(--color-secondary);
    margin: 10px 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

main section h2{
    margin-bottom: 5px;
}

main section p{
    text-align: justify;
    margin-bottom: 20px;
}

main section img{
    margin: 0px;
    width: 100%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

main section > div{
    
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

main section > div > a{
    display: block;
    background-color: var(--color-darker);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    color: white;

}

main #welcome{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../imgs/consultorio.jpeg"); */
    background: white url("../imgs/clinica-peq.jpg") center top no-repeat;
    filter: brightness(80%);
    background-size: cover;
    height: 40vh;
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main #welcome h1{
    color: var(--color-primary);
    font-size: 2.0rem;
    font-weight: 600;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
    margin: 10px;
    padding: 5px;
}

main .welcomeWrapper{
    background-color: rgba(255, 255, 255, 0.767);
    border-radius: 12px;
}

main #welcome p{
    max-width: 300px;
}

main  #socials{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    font-size: 1.2rem;
    margin-bottom: 0px;
}

main #socials > li{
    margin-bottom: 10px;
}

main #socials > li > a{   
    display: block;
    background-color: var(--color-darker);
    padding: 10px;
    border-radius: 15px;
    color: white;
}

main #adress{
    width: 100%;
}

footer{
    background-color: var(--color-darker);
    padding: 10px 5px;
    color: white;
    text-align: center;
}
