@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-basic: Poppins,Verdana,Helvetica,sans-serif;
    --font-headers: Arvo, serif;
    --color-primary: rgb(248,179,25);
    --color-secondary: rgb(245, 221, 168);
    --color-background: white;
    --color-darker: rgb(207, 150, 27);
    --color-text: black;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html{
    height: 100vh;
    width: 100vw;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    font-family: var(--font-basic);  
    color: var(--color-text);  
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

h1,h2,h3{
    font-family: var(--font-headers);
}

h1{
    color: var(--color-primary);
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    margin: 10px;
    padding: 5px;
}

header{
    margin-bottom: 3px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-primary);
    box-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.219);
    width: 100vw;
}

header #headerWrapper{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header #header-logo{
    max-width: 100px;
}

header #burger{
    font-size: 2em;
    color: var(--color-primary);
    margin-right: 10px;
}

header nav{
    display: none;
}

header ul{
    
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    
}
header li{
    margin: 10px 15px;
}

header a{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-primary);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.211);
}

main{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 1000px;
    background-color: var(--color-background);
    margin: auto;
}

section{
    background-color: var(--color-secondary);
    padding: 15px;
    margin: 10px 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

section h2{
    margin-bottom: 5px;
}

section p{
    text-align: justify;
    margin-bottom: 20px;
}

section img{
    max-width: 350px;
}

section > div{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

section > div > a{
    display: block;
    background-color: var(--color-darker);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    color: white;

}

#welcome{
    background: white url("../imgs/consultorio.jpeg") center center no-repeat;
    background-size: cover;
    height: 40vh;
    width: 100vw;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#welcome p{
    max-width: 300px;
}


footer{
    background-color: var(--color-darker);
    padding: 10px 5px;
    color: white;
    text-align: center;
}